body {
  margin: 0;
  padding: 0;
  background-image: url('assets/main-bg.png');
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #212027;
  font-family: var(--font-title);
}

.decoder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* a bit up from full center */
  text-align: center;
  background-color: white;
}

.decoder-container h1 {
  font-size: 26px;
  font-weight: 600;
  color: #0e468f;
  margin-bottom: 1.5rem;
  font-family: var(--font-body);
}

.decoder-container label {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.decoder-container p {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-top: 10px;
}

.decoder-container input {
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 300px;
  background-color: rgba(169, 169, 169, 0.2);
  color: black;
}

.decoder-container input::placeholder {
  color: gray;
}

.decoder-container button {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-family: var(--font-body);
  background-color: rgb(14, 70, 143);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.decoder-container button:hover {
  background-color: rgb(12, 58, 120);
}

.results {
  min-height: 150px; /* reserve space even before result shows */
  margin-top: 2rem;
  color: black;
}

.results-container{
  font-family: var(--font-title);
  list-style: none;
  font-size: 25px;
}

.results-container ul li{
  list-style: none;
  font-size: 20px;
  line-height: 1.8; /* slightly bigger spacing between items */
}

.results-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.qr-code {
  text-align: center;
}

.qr-code img {
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

